.plan-list {
  border-top: none;
  background-image: none !important;
}

.plan {
  line-height: 1;
  padding: 0;
}

.plan-left {
  text-align: right;
  padding: 10px 10px 10px 0;
}

.plan-center {
  background-color: #3399ff;
  opacity: 0.5;
}

.plan-right {
  padding: 10px 40px 10px 10px;
}

.plan-date {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 4px;
  font-weight: 500;
  text-align:center;
}

.plan-duration {
  font-size: 11px;
  opacity: 0.4;
}

.plan-name {
  font-size: 17px;
  margin-bottom: 8px;
}

.plan-info {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.4;
}

.day_setup_title {
	font-size: 15px;
	margin:8px;
}

.day_setup_accept {
	width: 100%;
	text-align:center;
}


.switch--list-item {
  margin-right: 0px;
}

.list-item-textbox {
	vertical-align:middle;
}

.settings-header {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.4;
  padding: 10px 0 0px 10px;
  margin-bottom: -4px;
}

.settings-list {
  margin-top: 10px;
}

.settings-label {
font-weight: 500;
  font-size: 14px;
  opacity: 0.4;

}